<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js demo</title>
  </head>
  <body>
    <div id="example-1">
      <input v-model="message" placeholder="edit me">
      <p>Message is : {{ message }}</p>
      <span>Multiline message is:</span>
      <p style="white-space: pre">{{ multimsg }}</p>
      <br>
      <textarea v-model="multimsg" placeholder="add multiple lines"></textarea>
    </div>
    <div id="checkbox">
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>
    </div>
    <div id="example-3">
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>
    </div>
    <div id="example-4">
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>
    </div>
    <div id="example-5">
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
    <div id="example-6">
      <select v-model="selected" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Selected: {{ selected }}</span>
    </div>
    <div id="example-7">
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value"> {{ option.text }} </option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/forms.js"></script>
  </body>
</html>
