<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js demo</title>
  </head>
  <body>
    <div id="app">
      <p>{{message}}</p>
      <input v-model="message">
    </div>
    <br>
    <div id="app2">
      <span v-bind:title="message">
        {{message}}
      </span>
    </div>
    <br>
    <div id="app3">
      <p v-if="seen">Now you see me</p>
    </div>
    <br>
    <div id="app4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <br>
    <script src="js/vue.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
